.container_description {
  width: 100%;

  /* margin: 150px 0; */
  display: flex;
  align-items: center;
  background: black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px 0px  #444141;
  padding: 50px 0;
}

.container_nostrosfondo{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../src/Imagenes/Nosotros/carina.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  opacity: 1;
}

.description_text {
  width: 100%;
  /* height: 805px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;

  align-items: center;
  color: white;
  text-align: justify;
  
}

.description_text h1 {

  font-size: 40px;
  text-align: center;
  
  font-size: 40px;
  text-shadow: 5px 5px 5px  #9faddd
}

.description_text p {
  padding: 10px 40px;
  font-size: 18px;
}

.description_text button {
  font-size: 18px;
  font-weight: bold;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background-color: rgb(102, 98, 85);
  padding: 8px 16px;
  border-radius: 0.3em;
  color: #fff;

  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  width: fit-content;
  box-shadow: 5px 5px 5px 0px  #444141;
}

.description_text button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #222;
  transform: translateY(-0.1em);
}

.description_text button:active {
  box-shadow: inset 0px 0.1em 0.6em #222;
  transform: translateY(0em);
}

.description_imagen {
  width: 100%;
  height: auto;
  padding: 20px;
}

.description_imagen img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 890px) {
  .container_description {
      flex-flow: wrap;
      height: auto;
  }
}