/* Media query para celular */
@media (width< 600px){
  .contenedor-general-proyectos-individuales{
    flex-wrap: wrap;
  }

  .contenedores-imagen{
    height: auto;
  }

  .contenedor-texto{
    height: 100%;
  }

  .contenedor-slider{
    display: flex;
    height: auto;
    justify-content:flex-start;
    background-color: white;
    padding: 15px;
    gap: 50px;
    margin-top: 15px;
    border-radius: 9px;
  }
}

#root{
  position: center;
  text-align: center;
}

body{
  background: rgb(218, 219, 223);
}

.contenedor-general-proyectos-individuales{
  
  background: rgb(218, 219, 223);
  max-width: 1600px;
  
  padding: 20px 100px;
  position: center;
  text-align: center;
  display: inline-block;
}



.contenedores-imagen{
  width: 100%;
  height: 800px;
  padding: 30px;
  background-color: rgb(255, 255, 255); 
  border-radius: 9px;
  margin-bottom: 15px;
  
}

.contenedores-imagen img{
  
  width: 100%;
  height: 100%;
  border-radius: 9px;
  cursor: pointer;
  
  
  /*
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  position: absolute;
  top: 0; 
  left: 0;
  */
}

.contenedor-titulo{
  background-color: white;
  text-align: center;
  font-size: 25px;
  width: 100%;
  height: auto;
  text-transform:uppercase;
  border-radius: 9px;
  padding: 2rem;
  margin-bottom: 15px;
}

.contenedor-texto{
  background-color: white;
  text-align: left;
  font-size: 25px;
  width: 100%;
  
  padding: 40px;
  border-radius: 9px;
}

/* Media query para tablet */
@media (max-width: 900px){
  .contenedor-general-proyectos{
    flex-wrap: wrap;
  }

  .contenedores-imagen{
    height: auto;
    
  }

  .contenedor-texto{
    height: 100%;
  }

  .contenedor-slider{
    display: flex;
    height: auto;
    justify-content:flex-start;
    background-color: white;
    padding: 15px;
    gap: 50px;
    margin-top: 15px;
    border-radius: 9px;
  } 

}

/*==========================*/
.contenedor-slider{
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  overflow-x:hidden;
  background-color: white;
  border-radius: 9PX;
  margin-top: 15px;
}

.slider{
  display: flex;
  justify-content: center;
  cursor: grab;
}

.item{
  height: 30rem;
  width: 40rem;
  padding: 2rem;
  border-radius: 9px;
}

.item img{
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-radius: 9PX;
}

.contenedor-slider .slider .item :is(img){
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.contenedor-slider .slider .item:hover :is(img){
  transform: scale(1.1);
}

/*================================================================================*/

.contenedor-general-proyectos-individuales .popup-media{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.contenedor-general-proyectos-individuales .popup-media :is(img){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  border: 3px solid #fff;
  border-radius: 9px;
}

.contenedor-general-proyectos-individuales .popup-media span{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color:#fff;
  user-select: none;
}